.Items-searchTerm label {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.Items-searchTerm input {
  background-color: white;
  flex: 1;
  padding-left: 12px;
}

.Items-searchTerm  {
  margin-bottom: 0.5em;
  display: flex;
}

.Items-searchTerm  button{
  padding: 0 14px;
}