.Item{
  display: flex;
  justify-content: space-between;
  border: 2px solid rgb(243, 243, 243);
  margin-bottom: 5px;
  overflow: hidden;
  border-radius: 4px;
  align-items: center;
}

.Item-remove {
  background-color: white;
  color: #f65e81;
  border: none;
  outline: none;
  padding: 0;
}

.Item-ckeck {
  padding: 12px 1rem;
}

.Item-name {
  background-color: transparent;
  flex: 1;
  flex-basis: content;
} 


.Item-name input { 
  width: 95%;
  border: none;
  background: transparent;
  height: 100%;
  outline: none !important;
  font-size: 16px;
}

.Item-name input:focus { 
  color: rgb(0, 97, 136);
  font-weight: 500;
}
.Item-remove {
padding-right: 1rem;
height: 100%;
padding: 12px ;
border-top-right-radius: 4px;
border-bottom-right-radius: 4px;
border: 2px solid transparent;

}

.Item-remove:focus,
.Item-remove:hover {
  background-color: white;
  text-decoration: underline;
}